body {
  font-family: Ubuntu, sans-serif;
  text-align: center;
}

.task {
  text-align: start;
}

.fa.fa-window-close {
  font-size: 2rem;
}
.fa.fa-window-close:hover {
  color: red;
  cursor: pointer;
}
.queue:hover {
  background-color: aliceblue;
}
